
 

/* Appended Contents for Slide Charts */
  


/* Start of Contents for Slide Charts 1 */


#slideg1l1c1:after {
    content: '\ Engine misfires, rough idle, hard starting, poor fuel economy. .';
}

#slidehg1l1c1:after {
    content: '\  poor fuel economy: ';
}





#slideg1l1c2:after {
    content: '\  Inspect spark plug for wet carbon or oily deposits. Check air filter and fuel system. Perform compression... .';
}

#slidehg1l1c2:after {
    content: '\  poor fuel economy: ';
}






#slideg1l1c3:after {
    content: '\  Inspect spark plug for wet carbon or oily deposits. Check air filter and fuel system. Perform compression test if oil fouling is suspected. .';
}

#slidehg1l1c3:after {
    content: '\  poor fuel economy: ';
}



/* End of Contents for Slide Charts 1 */



        

/* Start of Contents for Slide Charts 2 */


#slideg1l2c1:after {
    content: '\ Engine misfires, rough idle, hard starting, poor fuel economy. .';
}

#slidehg1l2c1:after {
    content: '\  poor fuel economy: ';
}





#slideg1l2c2:after {
    content: '\  Inspect spark plug for wet carbon or oily deposits. Check air filter and fuel system. Perform compression... .';
}

#slidehg1l2c2:after {
    content: '\  poor fuel economy: ';
}






#slideg1l2c3:after {
    content: '\  Inspect spark plug for wet carbon or oily deposits. Check air filter and fuel system. Perform compression test if oil fouling is suspected. .';
}

#slidehg1l2c3:after {
    content: '\  poor fuel economy: ';
}



/* End of Contents for Slide Charts 2 */













