


        
   /* ===== General CSS ===== */

     
       html, body {
 padding: 0vw 0vw 0vw;
 overflow-x: hidden;
 background: rgba(12, 38, 58, 1.0);
 font-family: 'Times New Roman', Times, serif;
 font-size: clamp(14px, 5vw, 22px);
  line-height: 1.35;
 color: rgba(225,225,255,1.0);
font-family: system-ui, -apple-system, 'Segoe UI', 'Times New Roman', Times, serif;
 scroll-behavior: smooth;
        }

        body {
 padding: 0vw 0vw 0vw 0vw;     
 overflow-x: hidden; 
 box-sizing: border-box;
 overflow-x: hidden;
overflow-y: scroll;
 scroll-behavior: smooth; 
 hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            word-spacing: 0.07em;
}


      * {
 box-sizing: border-box; 
 width: 100%;
  height: auto;
  padding: 0vw 0vw 0vw;
 margin: 0vw 0vw 0vw;
}

img, video, iframe, object, embed {
    max-width: 100%;
    height: auto;
}

        
   header {
 position: relative;
  height: auto;
   margin:  0vw 0vw 0vw 0vw;
  padding: 3vw 0vw 3vw;
 border-top: 0vw solid rgba(255,225,255,0.0); background-color: rgba(0,70,90,1.0);  
        }
        
        

  h1 {
 position: relative;
  height: auto;
  text-align: center;
  font-size: clamp(28px, 6vw, 52px);
  text-align: center;
  text-transform: uppercase;
  font-weight: 550;
   color: rgba(255,255,255,1.0); 
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Times New Roman', Georgia, serif;
 margin:  0vw 0vw 0vw 0vw;
 padding: 0vw 0vw 0vw;
  text-transform: uppercase;
 font-weight: 550;
  color: rgba(255,255,255,1.0); 
        }
      
     
          
    p {
   margin: 0vw;
   text-align: left;
   word-break: break-word;
        }
        

    strong {
 color: #b45b0f;
 font-family: 'Times New Roman', Times, serif;
 font-size: clamp(14px, 5vw, 22px);
 line-height: 1.35;
              }

        

   /* ===== Charts ===== */
   

      #myUL {
 position: relative;
 height: auto;
 column-count: 1;
 column-gap: 3vw;
  list-style: none;
  text-align: center;
  color: rgba(225,225,255,0.0);
  margin:  0vw 0vw 0vw 0vw;
 font-size: clamp(14px, 4.5vw, 17px);
 line-height: 1.5;
 font-size: 6vw;
 cursor: pointer;
 font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
  padding: 0vw 0vw 0vw 0vw;
border-top: 0vw solid rgba(255,225,255,0.0);
 font-weight: 450;        
 background: rgba(12, 38, 58, 1.0);
 cursor: none;
        }
        

        @media (min-width: 768px) {
            #myUL {
                column-count: 2;
            }
        }
        


    .li-b {
background: rgba(255,255,255,1.0);;
 border-radius: 4vw;
 box-shadow: 0 4px 12px rgba(0,0,0,0.08);
 margin-bottom: 0vw;
 border: 1px solid rgba(0,0,0,0.05);
break-inside: avoid;          page-break-inside: avoid;
transition: transform 0.1s ease;
display: inline-block;
width: 100%;
box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        }
        
        
    li {
padding: 0vw 0vw 0vw 0vw;
 margin: 0vw 0vw 0.5vw 0vw;
            }

  
  /* Footer  */
          

        footer {
 position: relative;
 height: 55vh;
 text-align: center;
 color: rgba(225,225,255,1.0);
margin:  0vw 0vw 0vw 0vw;
font-size: clamp(14px, 4.5vw, 17px);
line-height: 1.35;
font-size: 4.4vw;
cursor: pointer;
font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
padding: 12vw 5vw 5vw;
border-top: 0.6vw solid rgba(255,225,255,0.5);
 font-weight: 450;          
 background: rgba(12, 38, 58, 1.0);
 cursor: none;
        }
        
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: auto;
    padding: 0vw;
    margin: 0vw 0;
}


.tscard_slide {
width: device-width;
height: auto;
overflow: auto; 
overflow-y: hidden;
overflow-x: scroll;
white-space: nowrap;
scroll-behavior: smooth; scroll-snap-type: x mandatory; 
position: relative; 
margin: 0vw 0vw 0vw 0vw; 
transform: scale(1.0); 
float: center; 
cursor: none;
}


.tscard  {
position: relative;
top: 0vw;
left: 0%;  
max-width: 100%; 
min-width: 100%; 
height: 50vw;
border: 0.2px groove rgba(0,0,0,0.0);
 border-radius: 0.3vw;
font-size:6vw; 
background-color: rgba(240, 235, 250, 1.0);
box-shadow: rgba(0,0,0,0.0) 0px 0px 5px 1px;
font-family: Arial, Helvetica,sans-serif; sans-serif-regular; 
color: rgba(0,0,0,1.0); 
display: inline-block;margin: 0px 0px 0px 0px ; 
padding: 4.5% 4.5% 4.5% 5%;
margin: 1% 1% 1% 1%;
line-height:1.25; 
outline:0;
float: center; 
text-align: left; 
text-justify: left; word-wrap: break-word;
white-space: normal;
overflow-wrap: break-word;
scroll-behavior: smooth; scroll-snap-type: x mandatory; 
scroll-behavior: smooth; 
flex-shrink: 0; 
scroll-snap-align: center;  scroll-snap-align: center;  scroll-snap-stop: always;
float: center; 
text-transform: none;
font-weight: normal;
display: inline-flex;
 align-text: flex-start;
 text-align: left; 
 hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            word-spacing: 0.25vw;
cursor: none;            
 }
 

.tscardp{
position: relative;
top: 0vw;
left: 0%;  
max-width: 100%; 
min-width: 100%; 
height: auto;
border: 0.2px groove rgba(0,0,0,0.0);
 border-radius: 0vw;
font-size:6vw; 
background-color: rgba(240, 235, 250, 1.0);
box-shadow: rgba(0,0,0,0.0) 0px 0px 5px 1px;
font-family: Arial, Helvetica,sans-serif; sans-serif-regular; 
color: rgb(50,50,50); 
display: inline-block;margin: 0px 0px 0px 0px ; 
padding: 5% 5% 5% 5% ;
margin: 1% 0% 1% 0% ;
line-height:1.15; 
outline:0;
float: center; 
text-align: left; 
text-justify: left;
font-weight: normal; overflow-wrap: break-word;
word-wrap: break-word;
white-space: normal;
overflow-wrap: break-word;
hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            word-spacing: 0.25vw;
cursor: none;
}




.tscard2  {
position: relative;
top: 0vw;
left: 0%;  
max-width: 100%; 
min-width: 100%; 
height: 52vw;
border: 0.2px groove rgba(0,0,0,0.8);
 border-radius: 3vw;
font-size:6vw; 
background: rgba(215, 240, 250, 1.0);
box-shadow: rgba(0,0,0,0.5) 0px 0px 5px 1px;
font-family: Arial, Helvetica,sans-serif; sans-serif-regular; 
color: rgba(0,0,0,1.0); 
display: inline-block;margin: 0px 0px 0px 0px ; 
padding: 5% 5% 5% 5% ;
line-height:1.35; 
outline:0;
float: center; 
text-align: left; 
text-justify: left; word-wrap: break-word;
white-space: normal;
overflow-wrap: break-word;
scroll-behavior: smooth; scroll-snap-type: x mandatory; 
flex-shrink: 0; 
scroll-snap-align: center;  scroll-snap-align: center;  scroll-snap-stop: always;
float: center; 
text-transform: none;
font-weight: normal;
display: inline-flex;
align-text: flex-start;
}


.tscardp2{
position: relative;
top: 0vw;
left: 0%;  
max-width: 100%; 
min-width: 100%; 
height: auto;
border: 0.2px groove rgba(0,0,0,0.8);
 border-radius: 0vw;
font-size:6vw; 
background: rgba(215, 240, 250, 1.0);
box-shadow: rgba(0,0,0,0.5) 0px 0px 5px 1px;
font-family: Arial, Helvetica,sans-serif; sans-serif-regular; 
color: rgb(50,50,50); 
display: inline-block;margin: 0px 0px 0px 0px ; 
padding: 5% 5% 5% 5% ;
line-height:1.15; 
outline:0;
float: center; 
text-align: left; 
text-justify: left;
font-weight: normal; word-wrap: break-word;
white-space: normal;
overflow-wrap: 
break-word;
}



 .tscardp strong {
  color: #c13b0a;
  font-weight: 650;
  display: inline;
   text-align: center;
  text-transform: uppercase;
  font-size:6vw; 
        }
       


 .tscard strong {
  color: #c13b0a;
  font-weight: 650;
  display: inline;
  text-align: center;
  text-transform: uppercase;
  font-size:6vw; 
        }
        



 .tscardp2 strong {
  color: #c13b0a;
  font-weight: 650;
  display: inline;
 text-align: center;
 color: rgba(5,105,5,1.0);  text-transform: uppercase; 
        }




  .tscard2 strong {
 color: #c13b0a;
  font-weight: 650;
  display: inline;
   color: rgba(5,105,5,1.0);
 text-transform: uppercase; 
        }
        


.submainh1 {
position: relative;
 top: 0vh;
  font-size: 4vw;
      padding: 0% 0% 0% 0%;
            margin: 0vw 0vw 0vw 0vw;
      color: white;
      z-index: 0;
      text-align: center;
}


/* input::placeholder */
input::placeholder {
  color:rgba(255,255,255,0.4); 
  font-size: 6vw;
  font-style: italic;
  font-family: Arial, sans-serif;
  opacity: 1; 
}

#myInput {
  position: relative;
top: 0px;
left: 0%;  
width: 100%; 
height: 16vw;
border: 0.6vw groove rgba(255,188,122,1.0);
border-radius: 0vw;
border-radius: 8vw; border-top-left-radius: 8vw;
font-size: 6vw; 
font-weight:0;
background-color:rgba(7,31.33,50.66,1.0); 
box-shadow: rgba(0,0,0,0.5) 0px 5px 0px 0px;
font-family: Arial, Helvetica,sans-serif; sans-serif-regular; 
color: rgba(255,255,255,1.0); 
display: inline-block;margin: 0px 0px 0px 0px ; 
padding: 3% 15% 3% 10% ;
margin: 0vw 0vw 0vw 0vw;
line-height:3; 
outline: yes;
float: left; 
text-align: left; 
text-justify: left;
resize: none;
    }
    

.searchsection {
position: relatve;
  width: 100%;
  column-count: 1;
            background: rgba(10,12,25,1.0);
            color: rgba(255,255,255,1.0);
            margin: 0vw 0vw -10vw 0vw;
            padding: 0vw 0vw  0vw 0vw;
            border-radius: 0vw;
            box-shadow: 0 2px 28px rgba(0,0,0,0.05);
            font-size: clamp(14px, 4.5vw, 18px);
            border-left: 0vw solid #ff6347; 
            float: center;
}


#but33, .reset {
position: relative; top: -17.8vw; right: -5vw; width: 15vw;  height: 13vw; border: 0vw groove rgba(255,188,122,1.0); background-color: rgba(255,188,122,0.0); font-family: sans-serif-regular; color: rgba(255,188,122,1.0); font-weight: 300; font-size:9vw; line-height:0; float: right; z-index:100; transform: rotate(-90deg);  border-bottom-left-radius: 8vw; border-bottom-right-radius: 8vw;
}





.flex-container-dropdown {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.0);
}

 #kwd_selector, .flex-container-dropdown > div {
  background-color: rgba(255,255,255,1.0);
  color: rgba(0,0,0,1.0);
  width: 100%;
  height: 35vw;
  padding: 5vw 5vw 5vw 5vw;
  margin: 25vw 0vw 0vw 0vw;
  box-shadow: 0 3px 7px rgba(0,0,0,0.5); rgba(0,0,0,0.1);
  text-align: left;
  line-height: 1.35;
  font-size: 6vw;
  float: center;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
  text-transform: none;
font-weight: normal;
text-align: left; 
text-justify: left; word-wrap: break-word;
white-space: normal;
overflow-wrap: break-word;
content_align: center;
}


#note1 {
display:none; 
position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0vw 0vw 0vw 0vw; 
            margin: 0vw 0vw 0vw 0vw;
            background: linear-gradient(145deg, #e0eafc 0%, #cfdef3 100%);
            backdrop-filter: blur(8px);
            z-index: 2000;     
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
 box-sizing: border-box;
 overflow-x: hidden;
overflow-y: scroll;
 scroll-behavior: smooth;
}

#note1m {
position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            width: 100%;
            background: linear-gradient(145deg, #e0eafc 0%, #cfdef3 100%);
            border-radius: 0px 0px 0px 0px;
            overflow-y: auto;
            max-height: auto;
            padding: 20vw 5vw 5vw 5vw;
            margin: 0vw 0vw 0vw 0vw;
            box-shadow: 0 3px 28px rgba(0,0,0,0.5);
            border: 0px solid rgba(255,255,255,1.0);
}


.Close_Keywords {
position: absolute;
  top: 3vw;
  left: 77%;
   width: 15%;
  height: 15vw;
  border-radius: 300.9vw;
  font-size: 7vw;
  font-weight: 1000;
  color: rgba(255,25,25,1.0);
  background-color: rgba(205,215,255,0.0);
  z-index:1500; border: 0.3vw solid rgba(255, 25, 25, 1.0);
}

.Keywords_Cards {
position: absolute;
  top: 2vw;
  left: 5.5%;
   width: 70%;
  height: 20vw;
  border-radius: 0vw;
  font-size: 10vw;
  font-weight: 1000;
  color: rgba(255,25,25,0.7);
  background-color: rgba(205,215,255,0.0);
  z-index:1000; border: none;
}


.Keywords_Types {
position: relative;
  top: 1vw;
  left: 3%;
   width: auto;
  height: auto;
  border-radius: 0vw;
  font-size: 7vw;
  line-height: 1.5;
  font-weight: 1000;
  text-align: left;
  color: rgba(25,25,25,0.7);
  color: rgba(7,31.33,50.66,1.0);
  color: rgba(21,93.99,151.98,1.0);
  background-color: rgba(205,215,255,0.0);
  z-index:1000; border: none;
  word-wrap: break-word;
white-space: normal;
overflow-wrap: break-word;
}


#img1, div.img1 {
background-color: rgba(50, 50, 70, 0.5);
    margin-bottom: 2vw;
    border: 0.6vw solid rgba(255,181,90,1.0);;
    border: 0.6vw groove rgba(255,188,122,1.0);
    border: 0.6vw solid rgba(255,255,255,0.5);
    float: left;
    width: 35%;
    height : 37vw;
    border-radius:5vw;
    margin: 0vw 2vw 2vw 0vw;
    float: center;
    box-shadow: 0 3px 28px rgba(255,255,255,0.3);
    float: right;
} 



div.img1:hover {
    border: 0.3vw solid steelblue;
    border: 0.6vw solid rgba(255,255,255,0.6);
    border: 0.6vw solid rgba(255,181,90,1.0);
}

div.img1 img1 {
    width: 100%;
    height: auto;
    border-radius:5vw;
    float: center;
}


   .badge-tech1 {
   width: 27vw;
    height : 7vw;
      background: #1f2a3e;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 24px;
      font-size: 0.7rem;
      font-weight: 500;
      color: #ffb55a;
      margin-left: 2vw;
      text-align: center;
      line-height: 1.8;
    }


    .paragraph212a {
    position: relative;
    top: 2vw;
      font-size: 5.5vw;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -0.2px;
      background: linear-gradient(120deg, #fff, #ffbc7a);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 0.2rem;
      margin-left: 4vw;
      margin-top: 2vw;
      text-align: left;
      overflow-wrap: break-word;
    }

    .paragraph212b, .tech {
      font-size: 0.8rem;
      color: #b9c3dc;
      line-height: 1.15;
      display: flex;
      align-items: center;
      gap: 6px;
      flex-wrap: wrap;
      margin: 2vw 0vw 0vw 4vw;
      text-align: left;
      overflow-wrap: break-word;
      width: 53%;
    height : 10vw;
    }
    



div.img {
background-color: rgba(50, 50, 70, 0.5);
    margin-bottom: 2vw;
    border: 0.6vw solid rgba(255,181,90,1.0);;
    border: 0.6vw solid rgba(255,255,255,0.6);
    border: 0.6vw solid rgba(255, 155, 95, 0.7);
    border: 0.6vw groove rgba(255,188,122,1.0);
    float: left;
    width: 100%;
    height : auto;
    border-radius:5vw;
    margin: 0vw 0vw 5vw 0vw;
    float: center;
    box-shadow: 0 3px 28px rgba(255,255,255,0.3);
} 

 
div.img:hover {
    border: 0.3vw solid steelblue;
    border: 0.6vw solid rgba(255,181,90,1.0);
    border: 0.6vw solid rgba(255,255,255,0.6);
}

div.img img {
    width: 100%;
    height: 75vw;
    border-radius:5vw;
    float: center;
}


   .badge-tech {
   width: 25vw;
    height : 6vw;
      background: #1f2a3e;
      border-radius: 24px;
      font-size: 0.7rem;
      font-weight: 500;
      color: #ffb55a;
      margin-left: 2vw;
      text-align: center;
      line-height: 1.8;
      margin: 0% 0% 2% 2%;
    }


    .paragraph21a {
      font-size: 6vw;
      font-weight: 700;
      letter-spacing: -0.2px;
      background: linear-gradient(120deg, #fff, #ffbc7a);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 0.2rem;
      margin-left: 4vw;
      margin-top: 2vw;
      text-align: left;
    }

    .paragraph21b, .tech {
      font-size: 0.8rem;
      color: #b9c3dc;
      line-height: 1.4;
      display: flex;
      align-items: center;
      gap: 6px;
      flex-wrap: wrap;
      margin-left: 4vw;
      padding-right: 10vw;
      margin-bottim: 0vw;
      text-align: left;
    }



.backimghp {
    background: var(--global-image);
    display: inline-block;
    background-size: contain;
    width: calc(var(--global-image-width)*1.0);
    height: calc(var(--global-image-height)*1.0);
    --global-image-width: 100%;
  --global-image-height: 90vw;
  repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;margin: 0px 0px 0px 0px ; 
    border: 0vw solid rgb(255,255,255);
  background-color: rgba(7,31.33,50.66,0.8);
  padding:0vw;
  padding-top:0vw;
  padding-bottom:0vw;
  margin: 0% 0% 0% 0%;
  float: center;
  border-radius:5vw;
}



